.body {
  font-family: 'Lato', sans-serif;
}

/*header */
.customNav {
width: 100%;
background-color: transparent !important;
height: 60px;
z-index: 10;
}

.navbar-nav {
margin-left: auto;
margin-right: 1% !important;
}

.nav-item {
margin: 0px 15px;
font-size: 100%;

}
.nav-link {
color: white !important;
font-family: 'Lato', sans-serif;
}

.nav-link:hover {
  color: black !important;
  font-family: 'Lato', sans-serif;
  }

nav ul li:hover { 
  background: #F7D26D; 
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}

p {
margin-bottom: 0px;
}
h1 {
color: white;
font-family: 'Josefin Slab', serif;
font-size: 400%;
padding-left: 10%;
padding-top: 3%;
padding-bottom: 3%;
}

h4 {
color: white;
font-family: 'Josefin Slab', serif;
font-size: 200%;
font-weight: normal;
margin-bottom: 5%;
padding-left: 10%;
}

h5 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: normal;

  }

.heroImg {
  background-image: url("heroevent.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px; 
  text-align: center;
}

.card {
  margin-top: 5%;
}
.card-text {
  font-family: 'Lato', sans-serif;
  color: white;

}

.cardEvent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardEvent:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.row {
  align-items:center;
}
.btn {
  float: right;
  font-family: 'Lato', sans-serif;
  margin-right: 15%;
  background-color: #B3AEAD;
  border: #B3AEAD;
  color:black;
}

.btn:hover {
  background-color: #e7e7e7;
  border: #e7e7e7;
  color:black;
}

.btnStarted {
  font-family: 'Lato', sans-serif;
  background-color: #B3AEAD;
  border: #B3AEAD;
  color:black;
  padding:1%;
  border-radius: 4%;
}

.btnStarted:hover {
  font-family: 'Lato', sans-serif;
  background-color: #e7e7e7;
  border: #e7e7e7;
  color:black;
  padding:1%;
  border-radius: 4%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color:black;
}
a:hover {
text-decoration: none;
color:black;
}

.footerContainer {
  padding-top: 2%;
  padding-bottom: 2%;
}

.textFooter {
  font-family:'Lato', sans-serif;
  font-size: 100%;
  font-weight: normal;
  color:black;
  margin: 0 auto;
  justify-content: center;
}

.social {
  float: right;
  margin-left: 5%;
}

.socialfb {
  margin-right: 15%;
}



